:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.laptop-content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  padding: 0;
}

.laptop-wrapper {
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}

.tv-content {
  width: 480px;
  height: 460px;
  background: #141414;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
}

.tv-wrapper {
  width: 960px;
  height: 920px;
  transform: scale(0.5);
  transform-origin: top left;
}

#leva__root {
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: 1000000000 !important;
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: #FFF;
  border-radius: 15% 15% 35% 35%;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid #FFF;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}

.loader::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  color: #FFF;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

.start-button {
  border: 1px solid white;
  background: transparent;
  width: 100px;
  height: 36px;
  border-radius: 4px;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }

  100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}