:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.laptop-content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  padding: 0;
}

.laptop-wrapper {
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}

.tv-content {
  width: 480px;
  height: 460px;
  background: #141414;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
}

.tv-wrapper {
  width: 960px;
  height: 920px;
  transform: scale(0.5);
  transform-origin: top left;
}

#leva__root {
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: 1000000000 !important;
}